{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
  <title></title>
</head>
<body>
  {{ template "form" .Form }}
  <hr />
  {{ template "display" .Data }}
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      document.body.addEventListener("htmx:beforeSwap", function(evt) {
        if (evt.detail.xhr.status === 422) {
          evt.detail.shouldSwap = true
          evt.detail.isError = false
        }
      })
    })
  </script>
</body>
</html>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts" style="display: flex; flex-direction: column; margin: auto; margin-top: 50px; margin-bottom: 50px; gap: 10px; width: 200px;">
  <label for="name">Name</label>
  <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
    style="padding: 4px;" 
    name="name"
    type="text" 
    placeholder="Enter your name">

  <label for="email">Email</label>
  <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }}
    style="padding: 4px;" type="email" name="email" placeholder="Enter your email">

  {{ if .Errors.email }}
    <div style="color: red;">{{ .Errors.email }}</div>
  {{ end }}
  <button style="padding: 4px;" type="submit">Create Contact</button>
</form>
{{ end }}

{{ block "display" . }}
<div id="contacts" style="display: flex; flex-direction: column;">
  {{ range .Contacts }}
    {{ template "contact" . }}
  {{ end }}
</div>
{{ end }}

{{ block "contact" . }}
  <div>
    Name: <span>{{ .Name }}</span>, 
    Email: <span>{{ .Email }}</span>
  </div>
{{ end }}

{{ block "oob-contact" . }}
  <div id="contacts" hx-swap-oob="afterbegin">
    {{ template "contact" . }}
  </div>
{{ end }}
